
/* Imports
-------------------------------------------------- */
@import 'config/config-door-size';
@import 'config/config-mixins';

html {
  min-height: 100%;
  cursor: default;
}

body {

}

.pastille,
.pastille-2{
  width: $door-size*2;
  height: $door-size*2;

  color: $color-tree;
  background-color: $color-two;

  position: fixed;

  bottom: $door-padding;
  right: $door-padding;

  border-radius: $door-size*2;

  padding: $door-padding+0.1vw 0 0;

  font-size: 50%;
  line-height: 100%;
  text-align: center;

  z-index: 9998;

  animation: fading 1s infinite alternate ease-out;
  animation-play-state: paused;

  &:hover {
    z-index: 9999;
    animation-play-state: running;
  }
}

.pastille-2 {

  color: $color-two;
  background-color: $color-tree;

  bottom: $door-padding;
  right: $door-size*2;
  //right: $door-padding;

  padding: $door-padding 0 0;

  font-size: 50%;
  line-height: 100%;

  z-index: 9997;

  animation: rotating 2s linear infinite;
  animation-play-state: paused;
}

@keyframes fading {
  from { opacity: 1; }
  to { opacity: 0.2; }
}

@keyframes rotating {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

html,
body {
  color: $color-one;
  background-color: $color-default;
}

a {
  text-decoration: none;

  &:hover {
    //opacity: .5;
    //text-decoration: underline;
  }
}

small {
  font-size: 80%;
}

.active {
  color: $color-tree;
  //text-decoration: underline;
}


nav#biennale {

  width: 100%;
  //position: fixed;
  //top: 0;
  //left: 0;

  position: sticky;
  top: 0;

  text-transform: uppercase;

  //margin-top: -$door-size;
  //padding: ($door-padding + $door-size) $door-padding/2 $door-padding;
  padding: $door-padding $door-padding/2 $door-padding;
  background-color: $color-default;

  //border-bottom: $doorframe-size solid $color-one;
  //filter: drop-shadow(0px 0px 3px $color-shadow);
  box-shadow: 0 0 12px $color-shadow;

  z-index: 999;
  transition: top 0.3s ease-out;

  :link, :visited {
    //color: $color-default;
  }


  ul, li {
    padding: 0;
    margin: 0;
  }

  ul {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

  }

  li {
    list-style: none;
    display: inline;
  }
}


#home,
section {
  box-shadow: 0 6px 6px $color-shadow;
  //border-bottom: $doorframe-size solid $color-one;

  //margin-bottom: $door-size;
}

#thanks {
  section {
    box-shadow: none;
  }
}

.event {
  section {
    margin-top: $door-size + $door-padding;
  }
}

.flex {

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  align-items: flex-start;
}

.intro {
  padding: 0 $door-padding/2 $door-size;
}

header.year,
header.date,
header.event-top {
  position: sticky;
  top: 0;

  text-transform: uppercase;
  padding: $door-padding/2;

  color: $color-two;

  p {
    margin-bottom: 0;

    font-size: $door-size + ($door-size / 4);
    line-height: $door-size + ($door-size / 2);
  }
}

header.year {
  z-index: 3;
  text-align: left;
}

header.date,
header.event-top {

  z-index: 2;
  text-align: right;

  top: 0;

  //background-color: $color-default;
  //background-color: #b2f2bb;

  //box-shadow: inset 0 6px 6px $color-shadow;

  //border-bottom: $doorframe-size solid rgba(0, 0, 0, .1);

  &.first-date {
    margin-top: -$door-size*2;
  }
}

header.event-top {

  text-align: left;
}

section {
  z-index: 2;
}

#programme .event,
#visites .event {
  width: 33.333333333%;

  padding: $door-padding/2;
  //background-color: $color-default;

  //margin-bottom: -$door-padding/2;

  //margin-bottom: $door-size;

  a {
    display: inline-block;
    width: 100%;


    &:hover {
      //padding: $door-padding/2;
      //color: $color-default;
      //background-color: red;
    }
  }


  p.title {
    text-transform: uppercase;
  }

  p.info {
    text-align: right;
    margin-bottom: 0;

    display: block;

    .lieux, .type, .horaire {
      display: block;
    }

    .lieux {
      font-size: 70%;

      &:before {
        content: "–> ";
      }
    }

    .type {
      text-transform: uppercase;
      font-size: 70%;
    }

    .horaire {

      font-size: 70%;

      text-decoration: underline;
      //text-transform: capitalize;

      &:before {
        content: "";
      }
    }
  }

  hr {
    width: 50%;
    margin-left: 50%;
    height: $doorframe-size;
    background-color: $color-one;
    margin-top: $door-padding/2;
    margin-bottom: 0;
  }
}



.section-img {

  text-align: left;
  //background-color: $color-one;

  img {
    max-height: 100vh;
    padding: $door-padding/2 $door-padding/2 0;
  }
}

.event {

  .flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    align-items: stretch;
  }

  .flex {
    header, .content {
      width: 50%;

      padding: $door-padding/2;
    }

    .content {

      font-size: 80%;

    }
  }



  .event-what {

    //background-color: rgba(255, 255, 0, 0.3);
    //box-shadow: 6px 0 6px $color-shadow;

    .title,
    .time {
      display: block;
    }

    .time {
      text-decoration: underline;
    }

    h2 {
      text-align: right;
    }

    .lieux {
      text-align: center;
      width: 50%;

      p:before {
        content: "–> ";
      }
    }

    .sub-header {

      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: left;
      align-items: flex-start;

      text-align: center;


      .title {
        text-decoration: underline;
      }

      div {
        width: 50%;
      }

    }
  }
}





#home-ete,
#home {

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  align-items: flex-start;

  .content {
    width: 50%;
    //background-color: yellow;
  }


  .affiche {

    position: sticky;
    top: 0;
    align-self: flex-start; /* <-- this is the fix */

    z-index: 0;

    text-align: center;

    //background-color: rgba(255, 0, 121, 0.2);

    height: auto;
    min-height: 100vh;

    //margin-top: $door-size*2;
    padding: $door-padding/2;

    .affiche-test {
      max-height: calc(100vh - #{$door-padding});
    }

    #poster-ete,
    #poster-canvas {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      canvas {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }
    }
  }

  .edito {
    overflow-y: auto;
    text-align: left;
    padding: (($door-size*2) + $door-padding) $door-padding 0;

    min-height: 100vh;

    z-index: 10;

    font-size: 80%;

    box-shadow: 0 0 12px $color-shadow;
    background-color: $color-default;
    /////////////filter: drop-shadow(0px 0px 12px $color-shadow);

    //box-shadow: inset 6px 6px 6px $color-shadow;

    //box-shadow: inset 0px 0px 6px $color-shadow;
    //background-color: cornsilk;
  }
}

#home-ete {

  .edito {
    overflow-y: hidden;
    padding: 0;

    hr {
      background-color: transparent;
    }

    img {
      pointer-events: none;
      width: 100%;
      box-shadow: 0 6px 6px $color-shadow;
    }
  }
}

main {
  //min-height: 100vh;
  //background-color: $color-default;
}

main#home {
  min-height: 100vh;
}

#home {
  z-index: 1;
  //background-color: blue;
  //overflow: hidden;
}
#programme,
#visites {
  z-index: 20;
  //background-color: red;
}


.columned {
  column-count: 4;
  column-rule: none;
  column-gap: $door-padding;
  column-fill: balance;

  font-size: 50%;
  line-height: 120%;

  p {
    margin-bottom: $door-padding;
  }
}



// BIENNALE



nav.lesigne,
nav.biennale {

  top: 0;
  position: fixed;

  $color-default-space:nowrap;
  overflow-x: hidden;

  width: 20vw;
  height: 100vh;

  padding: $door-padding/2;
  //padding: $door-size;

  background-color: $color-default;

  //transition: width .2s ease-in-out;

  &:hover {
    transition: width .2s ease-in-out;
  }
}

main.lesigne,
main.biennale {
  //outline: 2px solid blue;
}





nav.lesigne{
  box-shadow: 0 0 10px $color-shadow;

  left: 0;
  width: $door-size;

  &:hover {
    width: $door-size*7;
  }
}

nav.biennale {
  box-shadow: inset 0 0 10px $color-shadow;

  right: 0;

  width: $door-size*3;

  &:hover {
    width: $door-size*4;
  }
}



main.lesigne {
  margin: 0 $door-size*3 0 $door-size;
}


main.biennale {
  display: none;
}



@media all and (max-width: 800px) {
  * {
    //background-color: red !important;
  }

  nav.lesigne,
  nav.biennale {

    top: 0;

    width: 100vw;
    height: $door-size*2;

    &:hover {
      width: 100vw;
      height: $door-size*3;
    }
  }

  nav.lesigne {
    top: inherit;
    bottom: 0;

    height: $door-size*3 + ($door-size/3);

    &:hover {
      width: 100vw;
      height: 50vh;
    }
  }

  main.lesigne {
    margin: $door-size*2 0 $door-size*3;
  }

}

.signature {
  h1 {
    text-transform: initial !important;
    line-height: 100%;
    position: relative;
  }
  .triple0 {
    letter-spacing: -1.4vw;
  }
  .signature-sb {
    width: 12vw;
    position: absolute;
    top: -3vw;
    left: 7.2vw;
  }
}





// VOTE



.vote,
.affiches {
  //position: absolute;
  top: 0;
  border: 0;
  width: 50%;
  height: 100%;
  min-height: 100%;
  z-index: 1;

  transition: width .2s linear;

  //background-color: red;

  /*&:hover {
    width: 80%;
    z-index: 2;
    filter: drop-shadow(0px 10px 20px $color-shadow);
  }*/
}


.affiches {

  min-height: 100vh;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  ul, li {
    padding: 0;
    margin: 0;
  }

  li {
    list-style: none;
    display: inline;
  }

  #loader {
    animation: blinker 1s ease-in-out infinite;
  }

  @keyframes blinker {
    50% {
      opacity: .2;
    }
  }

  #wrapper {
    display: none;
  }

  .affiche {

    text-align: center;

    margin: 0;

    max-height: 90vh;


    img {
      display: inline-block;

      max-height: 120vh;
      padding-bottom: 30vh;
      margin-bottom: calc(-30vh - #{$door-padding});

      border: $door-padding solid transparent;

      filter: drop-shadow(0px 0 $door-padding/2 $color-shadow);

    }
  }
}


.vote {
  position: fixed;
  right: 0;

  iframe {
    filter: drop-shadow(0px 0 $door-padding/2 $color-shadow);
  }

  //filter: drop-shadow(0px 0px 10px $color-shadow);

  //min-height: calc(100% + 56px);

  //display: none;
}


@media all and (max-width: 1024px) {
  #home-ete,
  #home {
    .content {
      width: 100%;
    }
    .affiche {
      position: relative;
      position: sticky;
      height: auto;
      min-height: 65vh;
    }
    .edito {
      min-height: 35vh;
      padding: $door-size $door-padding;
    }
  }

  #home-ete {
    .affiche {
      //min-height: 80vh;
    }
    .edito {
      //min-height: 20vh;
      padding: 0;
    }
  }


  // VOTE

  .vote {
    width: 100%;
  }

  .affiches {
    display: none;
  }
}

